name: "Presubmit: build and test wheels"

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  mypy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install nox
      run: |
        python -m ensurepip
        python -m pip install nox
    - name: Run mypy
      env:
        # workaround for https://github.com/pypa/setuptools/issues/3557
        SETUPTOOLS_ENABLE_FEATURES: legacy-editable
      run: |
        nox -s mypy
